* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.2s ease;
}

:root {
  --background: #030010;
  --background-2: #090322;
  --border: #b9b9ff;
  --text-color: #e7fbff;
}

.light-mode {
  --background: #e7fbff;
  --background-2: #b9b9ff;
  --border: #090322;
  --text-color: #030010;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

.container,
.container .btn {
  border: 2px solid var(--border);
  border-radius: 10px;
  cursor: pointer;
}

.container {
  background-color: var(--background-2);
  padding: 20px 40px;
}


.container .btn {
  padding: 10px 15px;
  font-size: 1.2rem;
  font-weight: 800;
  background-color: var(--background);
  color: var(--text-color);
}