* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: aquamarine;
  max-width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s ease;
}

.container {
  border: 2px solid #fff;
  padding: 20px;
  border-radius: 10px;
  background-color: #000;
}

button {
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1.2rem;
  outline: none;
  font-weight: 800;
  border: 2px solid #fff;
  transition: all 0.2s ease-in;
  color: #fff;
}

.red {
  background-color: #ff0000;
}

.red:hover,
.red:focus {
  border: 2px solid #ff0000;
  color: #ff0000;
  background-color: #fff;
}


.pink {
  background-color: #ff00a6;
}

.pink:hover,
.pink:focus {
  color: #ff00a6;
  background-color: #fff;
  border: 2px solid #ff00a6;
}

.green {
  background-color: #008000;
}

.green:hover,
.green:focus {
  color: #008000;
  background-color: #fff;
  border: 2px solid #008000;

}

.orange {
  background-color: #e26600;
}

.orange:hover,
.orange:focus {
  color: #e26600;
  background-color: #fff;
  border: 2px solid #e26600;
}

.blue {
  background-color: #0000ff;
}

.blue:hover,
.blue:focus {
  color: #0000ff;
  background-color: #fff;
  border: 2px solid #0000ff;
}